<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated COSEM -->
      <package
            uri="http://www.transformation-tool-contest.eu/2017/smartGrids/cosem"
            class="COSEM.COSEMPackage"
            genModel="model/COSEM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated COSEM -->
      <package
            uri="data"
            class="COSEM.Datatypes.DatatypesPackage"
            genModel="model/COSEM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated COSEM -->
      <package
            uri="interface"
            class="COSEM.InterfaceClasses.InterfaceClassesPackage"
            genModel="model/COSEM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated COSEM -->
      <package
            uri="objects"
            class="COSEM.COSEMObjects.COSEMObjectsPackage"
            genModel="model/COSEM.genmodel"/>
   </extension>

</plugin>
