<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated 61850 -->
      <package
            uri="http://www.transformation-tool-contest.eu/2017/smartGrids/substationStandard"
            class="substationStandard.SubstationStandardPackage"
            genModel="model/61850.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated 61850 -->
      <package
            uri="http://www.transformation-tool-contest.eu/2017/smartGrids/substationStandard/DomainLNs"
            class="substationStandard.LNNodes.DomainLNs.DomainLNsPackage"
            genModel="model/61850.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated 61850 -->
      <package
            uri="http://www.transformation-tool-contest.eu/2017/smartGrids/substationStandard/groupP"
            class="substationStandard.LNNodes.LNGroupP.LNGroupPPackage"
            genModel="model/61850.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated 61850 -->
      <package
            uri="http://www.transformation-tool-contest.eu/2017/smartGrids/substationStandard/groupR"
            class="substationStandard.LNNodes.LNGroupR.LNGroupRPackage"
            genModel="model/61850.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated 61850 -->
      <package
            uri="http://www.transformation-tool-contest.eu/2017/smartGrids/substationStandard/groupC"
            class="substationStandard.LNNodes.LNGroupC.LNGroupCPackage"
            genModel="model/61850.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated 61850 -->
      <package
            uri="http://www.transformation-tool-contest.eu/2017/smartGrids/substationStandard/groupA"
            class="substationStandard.LNNodes.LNGroupA.LNGroupAPackage"
            genModel="model/61850.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated 61850 -->
      <package
            uri="http://www.transformation-tool-contest.eu/2017/smartGrids/substationStandard/groupM"
            class="substationStandard.LNNodes.LNGroupM.LNGroupMPackage"
            genModel="model/61850.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated 61850 -->
      <package
            uri="http://www.transformation-tool-contest.eu/2017/smartGrids/substationStandard/groupX"
            class="substationStandard.LNNodes.LNGroupX.LNGroupXPackage"
            genModel="model/61850.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated 61850 -->
      <package
            uri="http://www.transformation-tool-contest.eu/2017/smartGrids/substationStandard/groupT"
            class="substationStandard.LNNodes.LNGroupT.LNGroupTPackage"
            genModel="model/61850.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated 61850 -->
      <package
            uri="http://www.transformation-tool-contest.eu/2017/smartGrids/substationStandard/groupY"
            class="substationStandard.LNNodes.LNGroupY.LNGroupYPackage"
            genModel="model/61850.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated 61850 -->
      <package
            uri="http://www.transformation-tool-contest.eu/2017/smartGrids/substationStandard/groupZ"
            class="substationStandard.LNNodes.LNGroupZ.LNGroupZPackage"
            genModel="model/61850.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated 61850 -->
      <package
            uri="http://www.transformation-tool-contest.eu/2017/smartGrids/dataclasses"
            class="substationStandard.Dataclasses.DataclassesPackage"
            genModel="model/61850.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated 61850 -->
      <package
            uri="http://www.transformation-tool-contest.eu/2017/smartGrids/enumerations"
            class="substationStandard.Enumerations.EnumerationsPackage"
            genModel="model/61850.genmodel"/>
   </extension>

</plugin>
